@import "tailwindcss";

@theme {
  --color-primary : #000;
}

:root {
  font-family: "Pretendard", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color-scheme: light;
}

